DOUBAO_API_KEY=your_key_here
DOUBAO_BASE_URL=https://ark.cn-beijing.volces.com/api/v3
DOUBAO_MODEL=your_doubao_model_or_endpoint_id
PROVENANCE_DB=provenance_guard.db
SUBMIT_RATE_LIMIT=10 per minute;100 per day
